<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="icm.utils.auxiliardoinstrumentista">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_adi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_adi_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter android:label="@string/app_name_splash">
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CriaLista"
            android:screenOrientation="portrait"
            android:label="@string/app_name" />
        <activity
            android:screenOrientation="portrait"
            android:name=".CultoMain"
            android:label="@string/title_activity_culto_main" />
        <activity
            android:screenOrientation="portrait"
            android:name=".Sobre"
            android:label="@string/sobre">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="icm.utils.auxiliardoinstrumentista.CriaLista" />
        </activity>
    </application>

</manifest>